<html>
	<head>
		<title>Server</title>
	</head>
	<body background="bg.jpg">
		<form name = "myMessage" action = "/chat" >
			<table>
				<tr>
					<td><b><font color="white">Your Login name:</font></b></td>
					<td><input type="text" name="name" value= {USERNAME} readonly/></td>
				</tr>
				<tr>
					<td><b><font color="white">Your message:</font></b></td>
					<td><textarea rows = "4" cols = "100" name = "message"></textarea></td>
				</tr>
			</table>	
			<input type="submit" value="Submit"/>
			<input type="submit" value="Refresh"/>
			<input type="submit" value="Delete all" formaction="/delete"/>
		</form>
		<hr/>
		<font color="white">
			<h3>Messages</h3>
				{MESSAGES}
		</font>

	</body>
</html>